<div class = "jumbotron text-center">
  <h1>Welcome to Dev Match</h1>
  <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mollis eros quis dolor bibendum, id porttitor sem ultrices. Donec molestie, tortor nec dapibus tincidunt, ipsum lacus dictum tortor, ac mollis urna nisl a mi.</h3>
</div>
